<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false"  pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}.%M() - %msg%n}{FATAL=bright red, ERROR=red, WARN=yellow, INFO=magenta, DEBUG=green bold, TRACE=blue}"/>
        </Console>

        <File name="FileAppender" fileName="log/${date:dd.MM.yyyy}.log" immediateFlush="false" append="true">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}.%M() - %msg%n}{FATAL=bright red, ERROR=red, WARN=yellow, INFO=magenta, DEBUG=green bold, TRACE=blue}"/>
        </File>
        <File name="FileTestAppender" fileName="log/test.log" immediateFlush="false" append="true">
            <PatternLayout pattern="%highlight{%msg%n}{FATAL=bright red, ERROR=red, WARN=yellow, INFO=magenta, DEBUG=green bold, TRACE=blue}"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="stats" level="fatal" additivity="false">
          <AppenderRef ref="FileTestAppender"/>
        </Logger>
        <Root level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</Configuration>
